:root {
    --main-bg-color: #ddd;
    --accent-color1: #3b144b;
    --accent-color2: #51a3d3;
    --body-text-color: black;
    --header-footer-text-color: white;
    --main-font-family: "Gill Sans", sans-serif;
    --heading-font-family: 'Palatino Linotype', serif;
    --accents-font-family: ;

}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.header__logo img {
    max-height: 190px;
}

.header__link {
    color: var(--header-footer-text-color);
    font-family: var(--heading-font-family);
    font-size: 40px;
}

.header__container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    align-items: center;
   justify-items: center;
}

body {
    background-color: var(--main-bg-color);
}

header, footer {
    background-color: var(--accent-color1);
    color: var(--header-footer-text-color);
    width: auto;
    height: 12em;
}

footer {
    margin-top: auto;
    text-align: center;
    text-transform: uppercase;
}

