:root {
    --main-bg-color: #ddd;
    --accent-color1: #3b144b;
    --accent-color2: #51a3d3;
    --body-text-color: black;
    --header-footer-text-color: white;
    --main-font-family: "Gill Sans", sans-serif;
    --heading-font-family: 'Palatino Linotype', serif;
    --accents-font-family: ;

}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.header__logo img {
    max-height: 190px;
}

.header__link {
    color: var(--header-footer-text-color);
    font-family: var(--heading-font-family);
    font-size: 40px;
}

.header__container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--accent-color1);
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
}

.about__text {
    display: grid;
    grid-template-areas:
    'heading heading heading'
    'text1   text1   text1'
    'text2   image1  image1'
    'image2  text3   text3';
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin: 24px;
    justify-content: center;
    align-items: center;
}

.about__heading {
    grid-area: heading;
}

.about__text-paragraph-one {
    grid-area: text1;
}

.about__text-paragraph-two {
    grid-area: text2;
}

.about__text-paragraph-three {
    grid-area: text3;
}

.about__image1 {
    grid-area: image1;
    height: 200px;
}

.about__image2 {
    grid-area: image2;
    height: 200px;
    justify-items: center;

}

header, footer {
    background-color: var(--accent-color1);
    color: var(--header-footer-text-color);
    width: auto;
    height: 12em;
}

footer {
    margin-top: auto;
    text-align: center;
    text-transform: uppercase;
    height: 6em
}

@media screen and (max-width: 1100px) {
    header {
        max-height: ;
    }


}